@media screen and (max-width: 1700px)
   .container
      max-width: 1350px
   .nav__search
      max-width: 300px
   .nav__el p
      margin-left: 13px
      font-size: 18px
   .nav__site
      height: 55px
      margin-left: 20px
   .nav__tel
      font-size: 18px
   .nav__mail
      font-size: 18px
   .nav__logo
      width: 230px
      margin-right: 24px
   .nav__info
      max-width: 243px
   .nav__content
      margin-left: 0
   .header__fig 
      right: 16px
      top: 0px
      z-index: -1
      width: 236px
   h1 
      font-size: 57px
   .header__box p
      font-size: 18px
      width: 100%
      max-width: 89%
   .header .swiper1 .swiper-slide
      height: 500px
   .poster__item
      padding: 13px 50px
   .poster__text
      max-width: 350px 
      width: 100%
      br 
        display: none
   .poster__top
      padding: 0 50px 0 55px 
   .poster__top p:nth-child(1)
      margin-right: 97px
   .poster__top p:nth-child(2)
      margin-right: 192px
   .poster__top p:nth-child(3)
      margin-right: 275px
   .poster__top p:nth-child(4)
      margin-right: 315px
   .area__content h3
      font-size: 34px
      line-height: 48px
   .photo__box a
      height: 500px
   .team__item 
      width: 23.86%
   .team__item h3
      font-size: 26px
      line-height: 32px
   h2 
      font-size: 56px
   .way__item p
      font-size: 27px
   .way #map, .cont #map
      height: 550px
   .footer__left
      p, a 
         font-size: 50px
   .team .tabs__nav a
      padding: 0 40px
   .about__box p
      font-size: 17px
   .about__box img
      height: 500px
   .news-item .swiper3 img
      height: 300px
   .policy__item p 
      font-size: 18px
      line-height: 36px
      max-width: 82%
   .info .swip .swiper-slide
      height: 240px
      padding: 0 30px
@media screen and (max-width: 1350px)
   .container
      max-width: 1200px
   .nav__info
      display: none
   .nav__btn 
      width: 241px
      margin-left: 70px
   .nav__row ul li
      margin-right: 40px
   .header__box
      max-width: 1006px
   .poster__content img 
      width: 160px
      height: 104px
   .poster__text 
      max-width: 295px
      font-size: 18px
   .poster__top p:nth-child(1)
      margin-right: 80px
   .poster__top p:nth-child(2)
      margin-right: 145px
   .poster__top p:nth-child(3)
      margin-right: 259px
   .poster__top p:nth-child(4)
      margin-right: 245px
   .news__content 
      max-width: 50%
      margin-left: 40px
   .team__item 
      width: 23.71%
   .footer__left p, .footer__left a
      font-size: 43px
   .team__item p
      font-size: 15px
@media screen and (max-width: 1199px)
   .nav__box 
      position: relative
   .nav__bottom
      display: none
   .header__wrap
      padding-top: 68px
   .menu-btn 
      width: 39px
      height: 39px
      position: absolute
      right: 0px
      top: 40px
      z-index: 11
      overflow: hidden
      background: url(/img/bur1.svg) no-repeat center center
   .menu-btn span 
      width: 38px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: $red
      transition: all 0.5s
      opacity: 0
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 8.5px)
      width: 38px
      height: 2px
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 9.4px)
      width: 38px
      height: 2px
   .menu 
      position: fixed
      top: 120px
      right: 0
      width: 100%
      height: 100%
      padding: 0px 20px
      background: rgb(84, 87, 89)
      transform: translateX(500%)
      transition: transform 0.5s
      z-index: 7
      overflow: hidden
      .nav__socials
         display: flex
      &__title 
         margin-top: 35px
         margin-bottom: 20px
         text-transform: uppercase
         color: rgb(255, 255, 255)
         font-size: 18px
         font-weight: 700
         font-family: 'HeliosC'
      ul 
         li 
            margin-bottom: 20px
            &:last-child
               margin-bottom: 0
            a 
               color: rgb(255, 255, 255)
               font-size: 16px
               font-family: 'HeliosC'
               font-weight: 400
               line-height: 24px
      &__item 
         align-items: center
         margin-bottom: 22px
         p, a
            margin-left: 15px
            color: rgb(255, 255, 255)
            font-family: 'HeliosC'
            font-size: 14px
            font-weight: 400
            line-height: 24px
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      background: url(/img/bur2.svg) no-repeat center center
      position: absolute
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 24px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
   .menu-btn.active span:nth-of-type(3) 
      width: 24px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
   .menu-btn, .menu
      display: block
   .pop 
      width: 92%
   .nav__socials, .nav__content
      display: none
   .nav__search 
      max-width: 400px
      margin: 0 auto
   .header__fig 
      right: 28px
      top: 42%
      bottom: inherit
      z-index: -1
      width: 236px
      z-index: 2
   .poster .swiper-button-prev2
      margin-right: 30px
   .poster .swiper-button-next2
      margin-left: 30px
   .poster__top
      display: none
   .poster__item
      flex-wrap: wrap
      padding: 24px 20px
      align-items: flex-start
   .poster__el
      width: 30%
      .poster__name
         display: block
         margin-bottom: 10px
   .news__content h3
      font-size: 23px
   .news__content p
      font-size: 18px
   .area__content h3 
      font-size: 28px
      line-height: 42px
   .photo__box a
      height: 400px
   .team__item 
      width: 31.9%
      margin-bottom: 60px
      margin-right: 20px
      &:nth-child(4n)
         margin-right: 20px
      &:nth-child(3n) 
         margin-right: 0
   .team__item h3 
      font-size: 22px
      line-height: 29px
   .team__item > img
      height: 300px
      border-radius: 20px !important
   .way__item p
      font-size: 22px
   .about__box p
      max-width: 100%
   .cont__row
      margin: 50px 0 30px 
      flex-direction: column 
      align-items: flex-start
   .cont__item:first-child
      margin-right: 0
      margin-bottom: 20px
   .error img
      width: 100%
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .form__flex
      flex-direction: column 
   .form__flex .form__item
      width: 100%
   h2 
      font-size: 42px
      line-height: 120%
   .pop h2
      margin-bottom: 20px
   .pop
      top: 31rem
   .nav__search
      max-width: 312px
   h1 
      font-size: 38px
      line-height: 105%
   .header__box p
      margin-bottom: 20px
   .header .swiper1 .swiper-slide
      height: 350px
   .header__fig
      width: 140px
   .row
      margin: 50px 0
   .row
      margin: 30px 0 20px
   .poster__el 
      width: 44%
      margin-bottom: 10px
   .poster__links
      margin-top: 30px
      flex-direction: column 
      a 
         width: 100%
         &:first-child
            margin-right: 0
            margin-bottom: 20px
   .news__content
      margin-left: 30px
   .news__content h3
      font-size: 21px
   .area__item
      flex-direction: column-reverse
      height: auto
      margin-bottom: 50px !important
   .area__content
      margin-left: 0
      max-width: 100% 
      margin-bottom: 25px
   .area__pic
      width: 100%
      height: 270px
   .news__btn
      margin-bottom: 40px
   .photo__box a:first-child
      height: 270px
   .team .tabs__nav a
      width: 48%
      text-align: center
   .team__item 
      width: 48.5%
      margin-bottom: 42px
      margin-right: 20px
      &:nth-child(4n)
         margin-right: 20px
      &:nth-child(3n) 
         margin-right: 20px
      &:nth-child(2n) 
         margin-right: 0
   .team .tabs__nav
      margin: 40px 0 
   .way
      padding-top: 60px
   .way__row
      margin-bottom: 15px
      flex-direction: column 
      align-items: center
   .way__item:first-child
      margin-right: 0
   .way__item
      width: 62%
      margin-bottom: 20px
   .footer__left p, .footer__left a
      display: none
   .footer__box
      position: relative
      flex-direction: column
      margin-bottom: 20px
      .menu__title 
         display: block
      .menu__item
         display: flex
   .footer__left
      position: absolute
      top: -444px
      left: 0
   .footer__box .menu__item
      &:last-child
         margin-bottom: 0
   .footer
      padding: 70px 0 50px
      display: flex
      flex-direction: column 
      &__btn 
         margin-bottom: 30px
      &__content 
         display: flex
         flex-direction: column
         align-items: flex-start
      &__bottom 
         order: 1
         border-top: none
         ul 
            flex-direction: column
            li 
               margin-bottom: 20px
               margin-right: 0
               &:last-child
                  margin-bottom: 0
               a 
                  color: rgb(255, 255, 255)
                  font-size: 16px
                  font-family: 'HeliosC'
                  font-weight: 400
                  line-height: 24px
         .menu__title
            display: block
      .container
         order: 2
      &__area
         &:nth-child(1)
            order: 1
         &:nth-child(2)
            order: 2
         &:nth-child(6)
            order: 3
         &:nth-child(3)
            order: 4
         &:nth-child(4)
            order: 5
         &:nth-child(5)
            order: 6
   .menu-btn2
      display: block
      position: absolute
      top: 40px
      right: 54px
   .menu2
      display: block
   .nav__search
      display: none
   .menu2 
      .nav__search input
         height: 55px
      button 
         top: 10px
         right: 15px
   .poster__area
      margin-bottom: 110px
   .poster .swiper-button-prev2
      position: absolute
      top: 138px
      left: 32%
      background: rgb(82, 86, 89)
   .poster .swiper-button-next2
      position: absolute
      top: 138px
      left: inherit
      right: 32%
      background: rgb(82, 86, 89)
   .news__item
      flex-direction: column 
      align-items: center
      margin-bottom: 40px
   .news__image
      width: 100%
      border-radius: 50px 50px 0px 0px !important
      height: 150px
      margin-bottom: 30px
   .news__content
      margin-left: 0
      max-width: 100%
   .news__btn
      width: 100%
      height: 80px
      font-size: 16px
      justify-content: space-between
      padding: 0 20px
   .news__btn .svg
      width: 50px
   .area__content h3
      font-size: 20px
      line-height: 28px
   .area__item p
      font-size: 16px
   .photo__box a
      height: 270px
      width: 100%
      border-radius: 20px !important
   .photo__box a:first-child
      border-radius: 500px 500px 20px 20px !important
   .team .tabs__nav a
      height: auto
      width: 100%
      height: 76px
      font-size: 16px
   .team__item
      width: 100%
      margin-right: 0 !important
   .search .nav__search
      display: flex
   .search__total
      margin-bottom: 40px
   .bread
      margin-bottom: 50px
   .about__images
      flex-direction: column 
      margin-bottom: 20px
      img 
         width: 100%
         margin-bottom: 10px !important
   .doc__box
      margin: 40px 0 50px
   .doc h1
      margin-bottom: 30px
   .doc__item
      flex-direction: column
      padding-top: 40px
      position: relative
      margin-top: 40px
      border-top: 2px solid rgb(51, 51, 51)
      &:last-child
         padding-bottom: 0
   .doc__block
      border: none !important
      padding: 0
      height: auto
      margin-bottom: 23px
      flex-direction: column 
      align-items: flex-start
      .svg 
         margin-bottom: -24px
         position: absolute
         left: 25px
         bottom: 22px
         z-index: 3
         width: 42px
         path 
            stroke: white !important
         circle 
            stroke: rgb(149, 41, 32) !important
   .doc__area
      margin-left: 0
      height: 51px
      width: 100%
      justify-content: flex-end
      padding: 0 30px
      background: $red !important
      .svg 
         path 
            fill: white !important
   .cont 
      .footer__left
         position: relative !important
         top: 0 !important
      .footer__left p, .footer__left a
         display: block
   .policy__item p 
      font-size: 17px
      line-height: 30px
      max-width: 100%
@media screen and (max-width: 767px)
   .form__item
      height: 70px
      margin-bottom: 20px
   .form__item label 
      font-size: 14px
      bottom: 16px
      left: 27px
   .form__item input
      width: 100%
      height: 100%
      padding-left: 26px
      font-size: 17px
      padding-bottom: 24px
   .form__item textarea
      padding-left: 26px
      font-size: 17px
      padding-top: 9px
   .form .custom-checkbox:checked + label::before
      border-radius: 10px
   .form 
      .custom-checkbox + label
         align-items: flex-start
   .form button
      height: 50px
      font-size: 16px
   .news-item__another
      margin: 80px 0 60px
      padding-bottom: 40px
      position: relative
   .news-item__arrows
      display: none
   .news-item .pag
      display: flex
      position: relative
      z-index: 5
      bottom: -37px
      width: 100%
      justify-content: center
      .swiper-pagination-bullet
         width: 16.01px
         cursor: pointer
         opacity: 1
         height: 16px
         background: rgba(216, 216, 216, 0.7)
         border-radius: 50% 
         margin-right: 10px
         &.active 
            background: $red
   .news-item__top
      margin-bottom: 30px
   .news-item .swiper3 img
      height: 150px
   .news-item .swiper3 h3
      font-size: 19px
   .news-item .swiper3 p
      font-size: 17px
   .gal__links
      flex-direction: column 
      a 
         width: 100%
         &:first-child
            margin-right: 0
            margin-bottom: 15px
   .gal .photo__box a:nth-child(6), .gal .photo__box a:nth-child(7)
      width: 100%
@media screen and (max-width: 576px)
   .news-item .poster-item__row p:nth-child(2)
      margin-left: 0
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important
   h2 
      font-size: 24px
   .pop h2
      text-align: left
   .close-popup
      width: 39px
      height: 39px
      top: 20px
      right: 20px
   .pop
      top: 28rem
      padding: 40px 20px
   .nav__logo
      width: 170px
   .nav__box
      padding: 17px 0 21px
   .container
      padding: 0 20px
   .menu-btn, .menu-btn2
      top: 20px
   .menu-btn2 
      right: 49px
   .menu-btn2.active
      right: 17%
   .menu__title 
      margin-top: 35px
      margin-bottom: 20px
      font-size: 17px
   .menu
      top: 92px
   h1 
      font-size: 24px
      line-height: 25px
   .header__box p 
      font-size: 15px
      width: 100%
      max-width: 100%
      line-height: 25px
   .header .swiper1 .swiper-slide
      height: 274px
   .header .pag
      bottom: 26px
   .header__fig 
      right: 28px
      bottom: 165px
      width: 120px
      top: inherit
   h2 
      font-size: 24px !important
      line-height: 120% !important
   .poster__area
      margin-top: 20px
      height: 86px
   .poster .swiper-button-next2
      right: 50%
      margin-right: -65px
      top: 111px
   .poster .swiper-button-prev2
      left: 50%
      margin-left: -65px
      top: 111px
   .poster__block span
      font-size: 18px
   .poster__block p
      font-size: 13px
   .header__wrap
      padding-top: 37px
   .poster__name
      font-size: 12px
   .poster__num
      font-size: 30px
   .poster__data, .poster__time, .poster__local, .poster__text
      font-size: 14px
   .poster__el
      margin-bottom: 20px
      width: 100%
      &:nth-child(1), &:nth-child(2)
         width: 48%
      &:last-child
         margin-bottom: 0
   .poster__content img
      width: 100%
      height: 89px
   .poster 
      .news__btn
         justify-content: center
         margin-bottom: 25px
         .svg 
            width: 34px
   .poster__links a
      padding: 0 20px 
      font-size: 15px
   .news
      padding-top: 35px
   .news h2
      margin-bottom: 20px
   .news__sub
      font-size: 15px
      line-height: 160%
      margin-bottom: 25px
   .news__content h3
      margin-bottom: 15px
      font-size: 18px
   .news__content p
      font-size: 16px
   .news__image:before
      display: none
   .news__content span
      margin-bottom: 12px
   .news__image
      margin-bottom: 20px
   .area__content h3
      font-size: 18px
   .area__item:last-child
      margin-bottom: 0 !important
   .photo__box
      margin-top: 25px
   .mat__item p
      font-size: 16px
   .mat__item
      padding: 30px
      height: 240px
      h2 
         margin-bottom: 15px
   .mat__item a
      width: 76px
      margin-top: 20px
      margin-left: 0
      img 
         width: 100%
         height: 100%
   .mat__bg
      height: 230px
   .team .tabs__nav
      margin-top: 20px
   .team .tabs__nav a
      height: 77px
      font-size: 14px
      line-height: 120%
   .team .tabs__nav
      margin-bottom: 15px
   .team__item h3 
      font-size: 18px
      margin-bottom: 15px
      line-height: 25px
   .team__tel
      font-size: 16px   
   .team__item > img
      height: 286px
      margin-bottom: 15px
   .way
      padding-top: 40px
   .way__item
      width: 100%
   .way__item p
      font-size: 16px
   .ymaps-2-1-79-image 
      background-size: 100% !important
      width: 90px !important
      height: 90px !important
   .footer__left img
      width: 169px
      margin-bottom: 40px
   .footer 
      padding: 40px 0 25px
   .footer__left
      top: -412px
   .footer__btn
      margin: 0px 0 35px 
      width: 100%
      font-size: 16px
      background: transparent
      height: 50px
      border: 2px solid rgb(255, 255, 255)
   .footer__content
      width: 100%
   .footer__area
      width: 100% 
   .footer__com p
      font-size: 16px
   .footer__policy a
      font-size: 16px
   .footer__policy
      font-size: 16px
   .poster
      padding-bottom: 35px
   .search__total
      font-size: 16px
   .search__title
      font-size: 20px
   .search__text 
      font-size: 16px
      line-height: 26px
   .search__item
      border-radius: 20px
      padding: 20px
      margin-bottom: 30px
   .search__item ul li
      margin-right: 14px
   .search__box
      margin-bottom: 60px
   .about__box h1
      margin-bottom: 20px
   .bread a
      font-size: 16px
   .about__box p
      font-size: 16px
      line-height: 26px 
      margin-bottom: 20px
   .about__box img
      height: 271px
      border-radius: 20px
      margin: 10px 0 20px
   .sec
      padding-top: 40px
   .page 
      .poster__links
         margin-bottom: 40px
   .about__box
      margin-bottom: 60px
   .poster-item__row
      flex-direction: column 
      align-items: flex-start
      p
         font-size: 16px
         &:nth-child(2)
            margin-left: 0
            margin-top: 5px
   .poster-item__info
      margin-bottom: 40px
   .gal, .art 
      .news__btn
         justify-content: center
         margin-top: 25px
   .gal 
      .photo__box
         a 
            &:nth-child(n+5)
               display: none
   .doc h1
      margin-bottom: 20px
   .doc__sub
      font-size: 18px
   .doc__box
      margin-top: 25px
   .doc__item
      padding-top: 30px
      margin-top: 35px
   .doc__area
      padding: 0 20px
   .doc__block p
      font-size: 16px
   .cont .footer__left p, .cont .footer__left a
      font-size: 20px
   .cont__item p
      font-size: 16px
   .cont #map
      margin-bottom: 60px
   .policy h1
      margin-bottom: 30px
   .policy__item h2
      margin-bottom: 20px
   .policy__item p
      margin-bottom: 10px
   .error
      padding-top: 60px
   .error__btn
      margin-bottom: 60px
      font-size: 16px
      width: 100%
      height: 52px
      border-radius: 7.43px
   .row 
      object-fit: cover
      height: 40px
   .search__data 
      top: 0px
      right: 0px
      font-size: 14px
      position: relative
      margin-left: auto
      display: flex
      margin-top: 10px
      justify-content: flex-end
   .info .swip .swiper-slide
      height: 272px
   .info .pag
      top: -15px
